<hr>
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="row col-md-offset-3" style="border: 1px solid black;border-bottom:none;padding: 10px;">

        <div class="web_name"> Pa<span style="color: green">yR</span>ide</div>
        <h4 style="text-align: center; color: #888c87;">Now become a part of PayRide</h4>
        <h4 style="text-align: center; margin-bottom: 10px;">Sign In</h4>

        <div class="col-md-6 quot1">Register As a Take Lift </div>
        <div class="col-md-6 quot1">Register As a give Lift</div>
      </div>
      </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <div class="row col-md-offset-3" style="border: 1px solid black;border-top:none; padding: 10px;">
        <div class="col-md-6">
          <label for="Paytm">Enter Paytm No</label>
          <input type="text" id="Paytm" class="form-control" placeholder="Enter Your Paytm No">
        </div>
        <div class="col-md-6">
          <label for="Vehicle">Enter Vehicle No</label>
          <input type="text" id="Vehicle" class="form-control" placeholder="Enter Your Vehicle No">
        </div>
        <div class="col-md-12 common-form-style">
          <label for="Vehicle">Enter Vehicle No</label>
          <input type="text" id="Vehicle" class="form-control" placeholder="Enter Your Vehicle No">
        </div>
        <div class="col-md-12 common-form-style">
          <label for="Vehicle">Enter Vehicle No</label>
          <input type="text" id="Vehicle" class="form-control" placeholder="Enter Your Vehicle No">
        </div>
        <div class="col-md-12 common-form-style">
          <label for="Vehicle">Enter Vehicle No</label>
          <input type="text" id="Vehicle" class="form-control" placeholder="Enter Your Vehicle No">
        </div>
        <div class="col-md-12 common-form-style form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1"> Accept <span style="color: green">Term & Condition</span></label>
        </div>
        <div class="col-md-12 common-form-style" style="margin-bottom: 20px;">
          <input type="submit" class="form-control" value="Register" style="background-color: black; color: white;">
        </div>

      </div>
    </div>
  </div>
</div>
