<div class="container-fluid" style="margin-top: 20px;">
  <div class="row" style="background-color: rgba(5,5,5,0.9); color: white; height: 70px">
    <div class="col-md-12" >
      <div class="col-md-2" style="margin-top: 20px;"></div>
      <div class="col-md-2" style="margin-top: 20px;"><img src="../../assets/icon/facebook.png" alt="FB" height="25px;"></div>
      <div class="col-md-2" style="margin-top: 20px;"><img src="../../assets/icon/insta.png" alt="FB" height="25px;"></div>
      <div class="col-md-2" style="margin-top: 20px;"><img src="../../assets/icon/link.png" alt="FB" height="25px;"></div>
      <div class="col-md-2" style="margin-top: 20px;"><img src="../../assets/icon/twi.png" alt="FB" height="25px;"></div>
      <div class="col-md-2" style="margin-top: 20px;"></div>
    </div>
  </div>
  <div class="row" style="background-color: rgba(5,5,5, 0.7);"><div class="col-md-12"></div></div>
  <div class="row" style="margin-top: 10px;"  style="background-color: rgba(5,5,5,0.9); color: white;  height: 70px">
    <div class="col-md-12">
      <div class="col-md-2" style="margin-top: 20px;"></div>
      <div class="col-md-2" style="margin-top: 20px;">About Payride</div>
      <div class="col-md-2" style="margin-top: 20px;">Carrier</div>
      <div class="col-md-2" style="margin-top: 20px;">Contact Us</div>
      <div class="col-md-2" style="margin-top: 20px;">Became A Driver</div>
      <div class="col-md-2" style="margin-top: 20px;"> Book A Ride</div>
    </div>
  </div>
  <div class="row" style="padding: 10px; background-color: black; color: white">
    <div class="col-md-12">
      <div class="col-md-6">
        <div class="col-md-3"></div>
        <div class="col-md-3">Term & Condition</div>
      </div>
      <div class="col-md-6">
        <div class="col-md-3">Privacy Policy</div>
        <div class="col-md-3">&copy; All right Reserved</div>
      </div>
    </div>
  </div>
</div>
