<div class="container" style="justify-content: center; align-items: center;">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6" style="border: 1px solid #888c87; margin-top: 20px;">
      <h1 style="text-align: center; font-family: heading;"><b>Pa<span style="color: green">yR</span>ide</b></h1><br>
      <h4 style="text-align: center;"> SignIn</h4>
      <h4 style="text-align: center;"> to continue to take lift...</h4>
      <div class="col-md-10" style="justify-content: center; align-items: center;">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-10">
            <form >
              <input type="text" class="form-control" placeholder="Email" style="text-align: center; height:40px; margin-top: 20px;"><br>
              <input type="text" class="form-control" placeholder="password" style="text-align: center"><br>
              <div class="row">
                <div class="col-md-6"><p>Forgot Password?</p></div>
                <!--<div class="col-md-6"><button class="btn btn-primary pull-right"><b>SignIn</b></button></div>-->
              </div>
              <div class="row" style="margin-top: 30px; margin-bottom: 30px;">
                <div class="col-md-6" style="margin-top: 7px;"><p style="color: #248022"><b>CREATE ACCOUNT</b></p></div>
                <div class="col-md-6"><button class="btn btn-primary pull-right"><b>SignIn</b></button></div>
              </div>
            </form>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
