<hr>
<div class="container" style="margin-top: 20px;">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-6">

        <div class="col-md-4" style="border: 2px solid black; border-radius: 3px; padding: 0px; text-align: center;"> <h5><b>Due Payment</b></h5></div>
      </div>
      <div class="col-md-6"><h4><b>Now You Can Take Lift</b></h4></div>
    </div>
  </div>
<div class="container">
  <div class="row" style="margin-top: 40px;">
    <div class="col-md-12">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-3" style="border-radius: 3px;border: 1px black solid; padding: 7px; text-align: center; color: white; background-color: black">Book & Search</div>
          <div class="col-md-3" style="border-radius: 3px;border: 1px black solid; padding: 7px; text-align: center; color: white; background-color: black; margin-left: 1px;"> Fire Approximation</div>
        </div>
        <div class="row" style="margin-top: 20px;">
          <div class="col-md-6" style="margin-left: -16px;">
            <input type="text" class="form-control" placeholder="From">
          </div>
        </div>
        <div class="row" style="margin-top: 20px;">
          <div class="col-md-6" style="margin-left: -16px;">
            <input type="text" class="form-control" placeholder="To">
          </div>
        </div>
        <div class="row" style="margin-top: 20px;">
          <div class="col-md-6" style="margin-left: -16px;">
            <input type="submit" class="form-control" value="Book & Search" style="background-color: rgba(0,0,0,0.9); color: white; border: 1px solid black;">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-5" style="border-radius: 3px;border: 1px black solid; padding: 7px; text-align: center; color: white; background-color: black">People are going on your way</div>
          <div class="col-md-4" style="border-radius: 3px;border: 1px black solid; padding: 7px; text-align: center; color: white; background-color: black; margin-left: 1px;">Location</div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <h1 style="font-size: 60px;"><span class="glyphicon glyphicon-user"></span></h1>
          </div>
          <div class="col-md-9" style="margin-top: 20px;"><b>Name</b>  &nbsp; &nbsp; &nbsp; &nbsp; Driver Name</div>
          <div class="col-md-9" style="margin-top: 5px;"><b>Mob No</b> &nbsp; &nbsp; &nbsp; &nbsp; Driver Name</div>
          <div class="col-md-9" style="margin-top: 5px;"><b>Vehicle No</b> &nbsp; &nbsp; &nbsp; &nbsp; Driver Name</div>
          <div class="col-md-9" style="margin-top: 5px;"><b>Vehicle name</b> &nbsp; &nbsp; &nbsp; &nbsp; Driver Name</div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-3">
            <h1 style="font-size: 60px;"><span class="glyphicon glyphicon-user"></span></h1>
          </div>
          <div class="col-md-9" style="margin-top: 0px;"><b>Name</b>  &nbsp; &nbsp; &nbsp; &nbsp; Driver Name</div>
          <div class="col-md-9" style="margin-top: 5px;"><b>Mob No</b> &nbsp; &nbsp; &nbsp; &nbsp; Driver Name</div>
          <div class="col-md-9" style="margin-top: 5px;"><b>Vehicle No</b> &nbsp; &nbsp; &nbsp; &nbsp; Driver Name</div>
          <div class="col-md-9" style="margin-top: 5px;"><b>Vehicle name</b> &nbsp; &nbsp; &nbsp; &nbsp; Driver Name</div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
