<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
      integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8 col-lg-8 col-md-8" style="background-color:none">
      <div class="main_container">
        <img src="../../assets/icon/icon.png" height="58px" style="float: left;" alt="icon">
        <div class="web_name"> Pa<span style="color: green">yR</span>ide</div>
        <div class="quot">Service is our attitude, and attitude is everything!</div>
      </div>
    </div>
    <div class="col-md-4" style="margin-top: 40px;">
      <div class="row">
        <div class="col-md-3 pull-right" style="color: white;background-color: black;black; font-size: 13px; border-radius: 4px; padding: 9px; text-align: center; margin-right: 5px; ; margin-left: 5px;"><span class="glyphicon glyphicon-off" style="margin-right: 6px;"> </span> <b>Logout</b></div>
        <div class="col-md-3 pull-right" style="color: white;background-color: black; font-size: 13px; border-radius: 4px; padding: 9px; text-align: center; margin-left: 5px;"><span class="glyphicon glyphicon-tasks" style="margin-right: 6px;"> </span> <b>Profile</b></div>
        <div class="col-md-4 pull-right" style=" margin-left: 5px; padding: 9px"> <span class="glyphicon glyphicon-user"></span> <b> Your Name</b></div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">

    </div>
  </div>
</div>
