<div class="container-fluid">
  <div class="row">
    <div class="col-md-12" style="background-image: url(../assets/images/background.jpg);">
      <div class="row">
        <div class="col-md-7">
          <div class="container">
            <div class="row">
              <div class="col-sm-7 offset-sm-1 col-lg-7 offset-lg-1 col-md-7 offset-md-1" style="background-color:none;">
                <div class="col-sm-7 col-lg-7 col-md-7 offset-sm-0 offset-md-0 offset-lg-0" style="background-color:none">
                  <div class="quot2">Always there because we are everywhere...</div>
                </div>
                <div class="col-md-7" style="border: 2px solid aliceblue; margin-top: 20px; height: 230px;">
                  <h4 style="margin-top: 25px;margin-bottom: -10px; color: aliceblue; font-family: Josefin; text-align: center;">
                    <span class="glyphicon glyphicon-globe"></span> Want to Login As</h4>
                  <div class="col-sm-12 col-lg-12 col-md-12" style="background-color:none;">
                    <a routerLink="/driverlogin">
                      <div class="col-md-9 col-sm-offset-3 col-lg-offset-3" style="font-family: Josefin;border: white 1px solid; color:white;margin-top: 49px; margin-left: 29px; padding:5px; text-align:center">
                        <div> I Want To Give Lift </div>
                      </div>
                    </a>
                    <a routerLink="/liftlogin">
                      <div class="col-md-9" style="font-family: Josefin;border: white 1px solid; color:white;margin-top: 20px;margin-left: 29px;;margin-bottom: 90px; padding:5px; text-align:center">
                        I Want To Take Lift
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-lg-4 col-md-4" style="background-color:none; margin-left: 101px;">
          <div class="form_container">
            <div class="col-sm-4 col-lg-4 col-md-4" style="background-color:none;">

            </div>
            <form name="signup" mathod="get" >
              <div class="form_quot">Create Your Account!</div>
              <input type="text" placeholder="FullName"  name="fullname"class="form1">
              <input type="text" placeholder="Email" name="email" class="form1" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
              <input type="text" placeholder="Mobile No" name="mobile" class="form1">
              <input type="password" placeholder="Create Password" name="password" class="form1">
              <input type="text" placeholder="City" name="city" class="form1">
              <input type="submit" value="Sign Up" class="submit_btn" onclick="validate_fun()">
              <div class="form-condition">By proceeding, I agree that PayRide or its representatives may contact me by email, phone, or SMS (including by automatic telephone dialing system) at the email address or number I provide, including for marketing purposes.
                <br>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 offset-lg-0 offset-md-0">
      <div class="form-main-cont" style="margin-left: 70px;">
        <div class="fire-estimation-block"> Fire Estimation </div>
        <div class="fire-tag"> Don't take bothering of bargaining </div>
        <input type="text" placeholder="Enter Approximate distance in KM" class="fire-estimation">
        <br>
        <input type="text" placeholder="Enter Approximate distance in KM" class="fire-estimation">
        <br>
        <input type="submit" value="Submit" class="fire-estimation" style="background-color: black; color: white; padding: 10px;">
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
      <div class="fire-quot" style="margin-top: 24px; font-size:40px; color:grey;margin-left:0px; font-weight:0;">We are here for you! Be moved.</div>
      <div class="detail_fire">Sample Rider fares are estimates only and do not reflect variations due to discounts, traffic delays or other factors. Flat rates and minimum fares may apply. Actual Rider fares may vary.</div>
    </div>
  </div>
</div>
<hr>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-11">
        <h3 style="font-family: reem; margin-top: 20px; ; margin-left: 20px; font-size: 36px;"><b>Why Payride ??</b></h3>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="mt-4 col-md-4 offset-md-0">
      <div class="ans_container">
        <div class="heading_why_ans">
          <h4>Secure and Safe</h4></div>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde ratione, explicabo molestias magni nobis distinctio cum nulla laborum expedita, beatae necessitatibus suscipit, aspernatur quo dolor harum tenetur omnis quasi! Nesciunt!</p>
      </div>
    </div>
    <div class="mt-4 col-md-4 offset-md-0">
      <div class="ans_container">
        <div class="heading_why_ans">
          <h4>Secure and Safe</h4></div>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde ratione, explicabo molestias magni nobis distinctio cum nulla laborum expedita, beatae necessitatibus suscipit, aspernatur quo dolor harum tenetur omnis quasi! Nesciunt!</p>
      </div>
    </div>
    <div class="mt-4 col-md-4 offset-md-0">
      <div class="ans_container">
        <div class="heading_why_ans">
          <h4>Secure and Safe</h4></div>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde ratione, explicabo molestias magni nobis distinctio cum nulla laborum expedita, beatae necessitatibus suscipit, aspernatur quo dolor harum tenetur omnis quasi! Nesciunt!</p>
      </div>
    </div>
  </div>
</div>
